<%- include('../includes/head') %> 
<body>
    <%- include('../includes/nav') %> 
    <div class="container">
        <h1>Category - <%=category.name %> </h1>
        <p><%= category.description %> </p>
        <% category.attributes.forEach((attribute) => { %> 
        <div><%= attribute %></div>  
        <% }) %> 
    </div>
     

    <%- include('../includes/footer') %> 
</body>
</html>