<%- include('../includes/head') %> 
<body>
    <%- include('../includes/nav') %> 
    <div class="container">
        <% categories.forEach((category) => { %> 
            <h3>Category - <%=category.name %> </h3>
            <p><%= category.description %> </p>
            <h5>Properties: </h5>
            <% category.attributes.forEach(function(attribute){ %> 
            <%= attribute %> | 
        <% }) %> 
            <br>
            <div class="d-flex justify-content-end border-bottom mb-5 pb-3">
                <a class="btn btn-primary" href="/admin/products/category/<%=category._id%> ">View Products</a>
                <a class="btn mx-3 btn-warning" href="/admin/categories/update/<%=category._id%> ">Update</a>
                <a class="btn btn-danger" href="/admin/categories/delete/<%=category._id%> ">Delete</a>
            </div>
            
        <% }) %>   
    </div>
    <%- include('../includes/footer') %> 
    
</body>
</html>