<%- include('../includes/head') %> 
  <body>
    <div class="container">
      <h1>Category - <%=category.name %></h1>
      <p><%= category.description %></p>
      <% category.attributes.forEach((attribute) => { %>
      <div><%= attribute %></div>
      <% }) %>
      <form action="/admin/categories/delete/<%=category._id%> " method="post">
        <button type="submit">Delete</button>
        <a id="back" href="">Go back</a>
      </form>
    </div>

    <script>
      document.querySelector("#back").href = document.referrer;
    </script>
  </body>
</html>
