<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign- up</title>
</head>
<body>
    Sign up

    <form action="/auth/signup" method="POST">
        <% if(locals.error){ %> <%= error %> <% } %> 
        <div class="input-group">
            <label>Name: </label>
            <input type="text" name="name" id="" <% if(locals.name){ %>value="<%=name%>">   <% } %>
        </div>
        <div class="input-group">
            <label>Email: </label>
            <input type="text" name="email" id="" <% if(locals.email){ %>value="<%=email%>">   <% } %>
        </div>
        <div class="input-group">
            <label>Password: </label>
            <input type="text" name="password" id="" <% if(locals.password){ %>value="<%=password%>">   <% } %>
        </div>
        <div class="input-group">
            <label>Confirm password: </label>
            <input type="text" name="confirm" id="" <% if(locals.confirm){ %>value="<%=confirm%>">   <% } %>
        </div>
        <input type="submit">
    </form>
</body>
</html>