<%- include('../includes/head') %> 
<body>
    <%- include('../includes/navbar') %> 
<div class="container">
    <h4>My orders</h4>
    <% if(locals.error){ %>Error: <%=error%>  <% } %>
    <% if(locals.message){ %> <%=message%>  <% } %>
    <% locals.orders.forEach(order => {  %> 
        <a href="/order/<%= order._id %> ">
            <div>Order id: <%= order._id %> </div>        
            <div>Order amount: <%= order.total %> </div>
            <div>Order status: <%= order.status %> </div>
            <div>Order quantity: <%= order.products.length %> </div>
        </a>
        <a href="/order/delete/<%= order._id %> ">Remove</a>        
        <br><hr><br>
    <% }) %> 
</div>
    
     
  <%- include('../includes/footer') %>
</body>
</html>