<%- include('./includes/head') %> 
<body>
    <%- include('./includes/navbar') %> 
    
    <div>Order id : <%= order._id %> </div>
    <div>Customer name: <%= order.customer.name %> </div>
    <% order.products.forEach(product => {  %>
        <div>
            Product name: <%= product.name %>
        </div>
        <div>
Quantity: <%= product.quantity %>
        </div>
        <div>
Price per unit:<%= product.sellingPrice %>  <br>
Total price:<%= product.sPrice %> 
        </div>
    <% }) %> 
    <div>Order total : <%= order.total %> </div>
    <div>Order status : <%= order.status %> </div>

    <%- include('./includes/footer') %>
</body>
</html>