<%- include('../includes/head') %> 
<body>
    <%- include('../includes/navbar') %> 
    <h3>My Cart</h3>
    <%= locals.error %> 
    <%= locals.message %> 
    <form action="/cart/checkout" method="post">
        <% if(locals.cart !== undefined){ locals.cart.products.forEach(product => { %>
            <% if(product.productId !== null){ %> 
                <h5><%= product.productId.name %> </h5>
                <div><%= product.productId.description %> </div>
                <div>$<strike><%= product.productId.price %></strike> <%= product.productId.sellingPrice %>  </div>
                <% if(product.productId.available){  %> 
                <div>Quantity: <input type="number" name="<%=product.productId._id%>" min="0" value="<%=product.quantity%>">  </div>
                <div>Include at checkout: <input type="checkbox" name="<%=product.productId._id%>" id="" checked="<%=product.included%>" ></div>
                <% } else { %> <h3>This product has been deleted</h3>
                <% } %> 
                <a class="btn btn-danger mr-3" href="/cart/remove/<%= product.productId._id %>">Remove</a>
            <% }else {  %> 
                <h3>This product has been deleted</h3>
            <% } %> 
            
        <% })} %>
        <button class="btn btn-success" type="submit">Proceed to checkout</button>
    </form>
    <form action="/cart/empty" method="post">
        <button class="btn btn-danger" type="submit">Empty cart</button>
    </form>
     
<%- include('../includes/footer') %> 
</body>
</html>