<%- include('../includes/head') %> 
<body>
    <%- include('../includes/navbar') %>
    <div class="container">
        <div><input type="checkbox" name="<%=product%> " id="" checked="<%=product.included%> " ></div> 
    </div>
<%- include('../includes/footer') %> 
</body>
</html>

