<%- include('../includes/head') %> 
<body>
    <%- include('../includes/navbar') %>
    <div class="container">
        <h3>Order summary</h3>
    <%= locals.error %> 
    <div><%= locals.message %> </div>
    <div class="font-weight-bold mb-3">Order status: <%= locals.status %> </div>

    <% locals.products.forEach(product => {  %> 
        <div class="border-bottom mb-2">
            <a href="/products/<%=product._id%> ">
                <h4><%= product.name %> </h4>
                <div><%= product.description %> </div>
                <div>Quantity: <%= product.quantity %> </div>
                <div>Cost per unit: <%= product.sellingPrice %> </div>
                <div>Total Price: <strike><%= product.rPrice %> </strike><%= product.sPrice %> </div>
                <b>Saved: <%= product.saved %> </b>
            </a>        
        </div>
    <% }) %> 
    <b>Order total: </b><strike><%= locals.total %></strike> <%= locals.sellingTotal %> <br>
    <b>Saved: </b><%= locals.saved %> 
    <form action="/order/address/<%= locals.order %>" method="GET">
        <button class="btn btn-primary" type="submit">Proceed</button>
    </form>
    </div>
    
    <%- include('../includes/footer') %>
</body>
</html>