<%- include('../includes/head') %> 
<body>
    <%- include('../includes/nav') %> 
    <div class="container">
      <h1><%=product.name %></h1>
      <p><%= product.description %></p>
      <% details.forEach(detail => { %>
      <div>
        <p><%= detail[0] %>: <%= detail[1] %></p>
      </div>
      <% }) %>
      <form action="/admin/products/delete/<%=product._id%> " method="post">
        <button class="btn btn-danger" type="submit">Delete</button>
        <a class="btn btn-primary" id="back" href="">Go back</a>
      </form>
    </div>

    <script>
      document.querySelector("#back").href = document.referrer;
    </script>
  </body>
</html>
