<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=product.name %>  </title>
</head>
<body>
    <h1><%=product.name %> </h1>
    <div>
        <% locals.imageLinks.forEach((image, index )=> { %>
            <img src="<%= image %> " alt="<%= product.name+'-'+index %> ">
        <% })  %> 
    </div>
    <p><%= product.description %> </p>
    <div>Product Description: <br> <%- product.longDescription %></div><br>

    <div>Price: <br> <%= product.price %></div><br>

    <div>Selling Price: <br> <%= product.sellingPrice %></div><br>

    <h4>Details:</h4>
    <% details.forEach(detail => { %> 
        <div>
            <p><%= detail[0] %>: <%= detail[1] %>    </p>
        </div>
    <% }) %> 

    <a href="/admin/products/update/<%=product._id%>">Edit</a><br>
    <a href="/admin/products/delete/<%=product._id%>">Delete</a><br>
</body>
</html>