<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <% products.forEach((product) => { %> 
        <h1>product - <%=product.name || product._id%> </h1>
        <p><%= product.description %> </p>
        <div>Deleted: <%= !product.available %> </div>
        
        <a href="/products/<%=product._id%> ">View this as user</a> <br>
        <a href="/admin/products/<%=product._id%> ">View this as admin</a><br>
        <a href="/admin/products/update/<%=product._id%>">Edit</a><br>
        <a href="/admin/products/delete/<%=product._id%>">Delete</a><br>
    <% }) %>   
</body>
</html>