<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <% products.forEach((product) => { %> 
        <h1>product - <%=product.name || product._id%> </h1>
        <p><%= product.description %> </p>
        
        <a href="/products/<%=product._id%> ">View this</a>
        <a href="/products/update/<%=product._id%>">Edit</a>
        <a href="/products/delete/<%=product._id%>">Delete</a>

        <form action="/carts/add/<%=product._id%>" method="post"></form>

        <div><%=product._id%></div>
    <% }) %>   
</body>
</html>