<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=product.name %>  </title>
</head>
<body>
    <h1><%=product.name %> </h1>
    <p><%= product.description %> </p>
    <div>Product Description: <br> <%= product.longDescription %></div><br>

    <div>Price: <br> <%= product.price %></div><br>

    <div>Selling Price: <br> <%= product.sellingPrice %></div><br>

    <h4>Details:</h4>
    <% details.forEach(detail => { %> 
        <div>
            <p><%= detail[0] %>: <%= detail[1] %>    </p>
        </div>
    <% }) %> 

    <form action="/cart/add/<%=product._id%> " method="post">
        <div class="input-group">
            <label>Quantity: </label>
            <input type="number" name="quantity" id="" value="1" >
        </div>
        <button type="submit">Add to cart</button>
    </form>
</body>
</html>