<%- include('../includes/head') %> 
<body>
    <%- include('../includes/navbar') %> 
    <% products.forEach((product) => { %> 
        <a href="/products/<%= product._id %> ">
            <h1>product - <%=product.name || product._id%> </h1>
            <p><%= product.description %> </p>

            <form action="/cart/add/<%=product._id%>" method="post">
                <button type="submit">Add to cart</button>
            </form>
        </a>    
    <% }) %> 
<%- include('../includes/footer') %>   
</body>
</html>